<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Van Gogh: About</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<nav id="navHome">
    <ul>
        <li><a href="http://localhost:3000/">home</a></li>
        <li><a href="http://localhost:3000/works">Works</a></li>
    </ul>
</nav>
<body>
    <h1 class="h1about">Quién fue?</h1>
    <p>Vincent Van Gogh, uno de los pintores más reconocidos en el mundo, arquetipo del artista miserable, creador de algunas de las obras de arte más icónicas. Al pensar en él algunos episodios importantes vienen a la mente: una oreja cortada, una noche estrellada, girasoles y algunos autorretratos. Pero la vida de Vincent Van Gogh trasciende a unos pocos eventos y es una cronología interesante de principio a fin, que deja en evidencia muchas de sus decisiones artísticas.</p>
    <p>Uno podría pensar que un artista de tal renombre tan solo alcanzó la fama tras una vida de dedicación a la pintura. Sin embargo, no es uno de los detalles más conocidos el hecho de que Vincent solo comenzó a dedicarse a la pintura a los 27 años, y nunca recibió educación formal sobre el oficio. Antes se había dedicado a ser pastor evangélico, siguiendo los pasos de algunos miembros de su familia, así como predicador laico en Bélgica y tuvo algunos trabajos como aprendiz en algunas galerías de arte.</p>
</body>
</html>