<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Van Gogh: Home</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <nav id="navHome">
        <ul>
            <li><a href="http://localhost:3000/about">About</a></li>
            <li><a href="http://localhost:3000/works">Works</a></li>
        </ul>
    </nav>
    <header id="header">
        <h1 class="h1">Vincent Van Gogh</h1>
    </header>
</body>
</html>