<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Van Gogh: Works</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <nav id="navHome">
        <ul>
            <li><a href="http://localhost:3000/">home</a></li>
            <li><a href="http://localhost:3000/about">About</a></li>
        </ul>
    </nav>
    <h1 class="h1work">Pinturas</h1>
    <div>
        <img src="img/arbol.jpg" alt="arbol">
        <img src="img/cuarto.jpg" alt="cuarto">
        <img src="img/noche-estrellada.jpg" alt="noche estrellada">
        <img src="img/pasto.jpg" alt="pasto">
        <img src="img/persona.jpg" alt="persona">
    </div>
</body>
</html>